<div class="form-group">
	<div class="col-sm-4 hidden-xs"></div>
	<div class="col-xs-12 col-sm-8">
		<button class="btn btn-block btn-primary" type="<?=$this->type ? $this->type : 'button' ?>"><?=$this->label?></button>
	</div>
</div>
