<div class="form-group">
	<label class="control-label col-sm-4"><?=$this->label?></label>
	<div class="col-sm-8">
		<? foreach ($this->options as $optionKey => $optionValue): ?>
			<label class="radio-inline">
				<input name="<?=$this->name?>" type="radio" value="<?=$optionKey?>"<?=($this->object->{$this->name} == $optionKey ? ' checked="yes"' : '') ?> />
				<?=$optionValue?>
			</label>
		<? endforeach; ?>
	</div>
</div>