<div class="form-group">
	<label class="control-label col-sm-4"><?=$this->label?></label>
	<div class="col-sm-8">
		<input class="form-control col-sm-8" name="<?=$this->name?>" type="text" value="<?=$this->object->{$this->name}?>" />
	</div>
</div>